img {
  width: 100px;
  border-radius: 10px;
}

.cart-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.cart-panel {
  margin-left: 50px;
  margin-right: 50px;
}

.number-input {
  width: 80px;
  text-align: center;
}

@media screen and (max-width: 746px) {
  .cart-item {
    display: flex;
    align-items: center;
    justify-items: flex-start;
  }
  .cart-panel {
    margin-left: 20px;
    margin-right: 0;
  }
  img {
    width: 150px;
  }
  .bookName {
    font-size: 22px;
    font-weight: bold;
  }
}